@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: "Caprasimo", sans-serif;
}

.numeric {
  font-family: "Sacramento", sans-serif;
}

.small-text {
  font-family: "Patua One", sans-serif;
}

.mono-text {
  font-family: "Courier Prime", monospace;
}

.hand-text {
  font-family: "Caveat", sans-serif;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: underline;
}

a:hover {
  color: white;
}
